<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
</head>
<th:block th:fragment="food-type-new(foodTypes)">

    <div>
        <table class="table" id="foodTypesTable">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr th:each="foodType : ${foodTypes}">
                <td>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name" th:field="*{name}"  required="true">
                    </div>
                </td>
                <td>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="description" th:field="*{description}"  required="true">
                    </div>
                </td>
            </tr>
        </table>
        <button type="button" onclick="newFoodTypeRow()">Add new food type</button>
    </div>

    <script>
        function newFoodTypeRow() {
          var table = document.getElementById("foodTypesTable");
          var row = table.insertRow(-1);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          cell1.innerHTML = "NEW CELL1";
          cell2.innerHTML = "NEW CELL2";
        }
    </script>



</th:block>
</body>
</html>