<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">
                    <img th:src="@{/images/gutHealth.jpg}" alt="guthealth logo" width="30" height="30"
                         class="rounded-pill"/>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasAnyRole('ROLE_GUEST','ROLE_USER')" class="nav-item">
                        <a class="nav-link" th:href="@{/preparation-technique}">Preparation Technique</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_GUEST','ROLE_USER')" class="nav-item">
                        <a class="nav-link" th:href="@{/food-category}">Food Category</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                        <a class="nav-link" th:href="@{/dish}">Dish</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/user}">User Maintenance</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ms-auto">
                    <li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Sign in</a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                        <a class="nav-link" th:href="@{/user/profile}">Profile</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</th:block>
</body>
</html>