span.input-group-text {
    width: 190px;
}

.center {
    display :grid;
    place-items: center;
}

.body-content {
    width: 50%;
    min-width: 600px;
    min-height: 600px;
}

.full-width {
    width:100%;
}

div.feedback {
    margin: 10px;
    border: 3px solid green;
    width:100%;
    min-height: 50px;
}

.success-feedback {
    background-color: aquamarine;
}

.error-feedback {
    background-color: lightpink;
}

