<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Dish List</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <p/>
    <h1>Dish</h1>
    <p/>
    <p>The parent record of a particular dish such as Chilli con Carne or a particular Signature Salad. The name is unique and will specify the preparation technique, such as Braised for the former and Raw for the latter. Given the preparation technique is applicable to all the components of a particular dish, it might also be considered a 'Pot' of food.</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Preparation Technique</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish : ${dishes}">
            <td th:text="${dish.id}">></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.description}"></td>
            <td th:text="${dish.preparationTechnique.code}"></td>
            <td>
                <a th:href="@{'/dish/edit/' + ${dish.id}}" class="icon-link">
                    <i class="bi bi-pencil"></i>
                </a>
            </td>
            <td>
                <a th:href="@{'/dish/delete/' + ${dish.id}}" class="icon-link">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
            <td>
                <a th:href="@{'/dish/view/' + ${dish.id}}" class="icon-link">
                    <i class="bi bi-eye"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/dish/new'}">
        <button type="button" class="col-3 btn btn-primary">Add New</button>
    </a>

</div>

</body>
</html>