<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Dish - create</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container">
        <p/>
        <h1>Dish</h1>
        <p/>

        <div id="dishDetail">
            <form th:action="@{'/dish/create'}"
                  th:object="${dish}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">Name:</span>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Description:</span>
                    <input type="text" class="form-control" id="description" th:field="*{description}" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Preparation Technique:</span>
                    <select class="form-select" id="preparationTechnique.code"
                            th:field="*{preparationTechnique.code}" required>
<!--                        <option value=""></option>-->
                    </select>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <button class="col-3" type="submit">Save</button>
            </form>
        </div>

    </div>

    <script>

        async function initialisePreparationTechniqueSelect() {
            const preparationTechniqueList = await fetchSelectOptions(preparationTechniquesUri);
            buildSelectOptions("preparationTechnique.code",preparationTechniqueList, "code","code",false);
        }

        window.onload = function () {
            initialisePreparationTechniqueSelect();
        }
    </script>

</div>

</body>
</html>