<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Update Dish Component</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div>

        <p/>
        <p> Edit dish component for <span th:text="${dish.name}"></span></p>
        <p/>

        <form th:action="@{'/dish-component/update/' +${dishComponent.id} + '?dishId=' + ${dish.id}}"
              method="post"
              th:object="${dishComponent}">

            <div class="input-group mb-3">
                <span class="input-group-text">Food Category:</span>
                <select class="form-select" id="foodCategory.id"
                        name="foodCategory.id">
                    <!--                        <option value=""></option>-->
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Food Type:</span>
                <select class="form-select" id="foodType.id"
                        th:field="*{foodType.id}" required>
                    <!--                        <option value=""></option>-->
                </select>
                <div class="invalid-feedback">This field is required</div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Proportion:</span>
                <input type="number"  min="0" step="1" class="form-control" id="proportion"
                       th:field="*{proportion}" required="true">
                <div class="invalid-feedback">This field is required</div>
            </div>

            <div>
                <button class="col-3 btn btn-primary" type="submit">Save</button>
            </div>
        </form>

        <script>
            async function changeFoodCategory() {
                let foodCategoryId = document.getElementById("foodCategory.id").value;
                let foodTypes = [];
                if (foodCategoryId) {
                    foodTypes = await fetchSelectOptions(`${foodTypesUri}?foodCategoryId=${foodCategoryId}`);
                }
                buildSelectOptions("foodType.id", foodTypes, "id", "name", true);
            }

             async function initialiseFoodCategorySelect(currentFoodCategoryId) {
                let foodCategories = await fetchSelectOptions(foodCategoriesUri);
                buildSelectOptions("foodCategory.id",foodCategories, "id","name",false,currentFoodCategoryId);
            }

            async function initialiseFoodTypeSelect(currentFoodCategoryId, currentFoodTypeId) {
                let foodTypes = await fetchSelectOptions(`${foodTypesUri}?foodCategoryId=${currentFoodCategoryId}`);
                buildSelectOptions("foodType.id",foodTypes, "id","name",false,currentFoodTypeId);
            }


            async function initialiseSelectOptions(currentFoodCategoryId, currentFoodTypeId) {
                await initialiseFoodCategorySelect(currentFoodCategoryId);
                initialiseFoodTypeSelect(currentFoodCategoryId, currentFoodTypeId);
            }

            window.onload = function () {
                let currentFoodCategoryId = "[[${foodCategoryId}]]";
                let currentFoodTypeId = "[[${dishComponent.foodType.id}]]";
                initialiseSelectOptions(currentFoodCategoryId, currentFoodTypeId);
            }

            document.getElementById("foodCategory.id").addEventListener("change", changeFoodCategory);
        </script>

    </div>


</div>

</body>
</html>