<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Dish - edit</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container">
        <p/>
        <h1>Dish</h1>
        <p/>

        <div id="dishDetail">
            <form th:action="@{'/dish/update/' + ${dish.id}}"
                  th:object="${dish}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">ID:</span>
                    <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Name:</span>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Description:</span>
                    <input type="text" class="form-control" id="description" th:field="*{description}" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Preparation Technique:</span>
                    <select class="form-select" id="preparationTechnique.id"
                            th:field="*{preparationTechnique.id}" required>
                        <!--                        <option value=""></option>-->
                    </select>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <button class="col-3 btn btn-primary" type="submit">Save</button>
            </form>
        </div>

        <p/>
        <h4>Dish Components</h4>
        <p/>

        <div id="dishComponentsDetail">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Food Type</th>
                        <th>Proportion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dishComponent : ${dish.dishComponents}">
                        <td th:text="${dishComponent.id}">></td>
                        <td th:text="${dishComponent.foodType.name}"></td>
                        <td th:text="${dishComponent.proportion}"></td>
                        <td>
                            <a th:href="@{'/dish-component/edit/' + ${dishComponent.id} + '?dishId=' + ${dish.id}}" class="icon-link">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/dish-component/delete/' + ${dishComponent.id} + '?dishId=' + ${dish.id}}" class="icon-link">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{'/dish-component/new?dishId=' + ${dish.id}}">
                <button type="button" class="col-3 btn btn-primary">Add New</button>
            </a>
        </div>
    </div>

    <script>

        async function initialisePreparationTechniqueSelect() {
            let preSelected = "[[${dish.preparationTechnique.id}]]";
            const preparationTechniqueList = await fetchSelectOptions(preparationTechniquesUri);
            buildSelectOptions("preparationTechnique.id",preparationTechniqueList, "id","code",false,preSelected);
        }

        window.onload = function () {
            initialisePreparationTechniqueSelect();
        }
    </script>

</div>

</body>
</html>