<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Food Type</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div>
        <p/>
        <h4>Create new Food Type</h4>
        <p/>
        <form action="#" th:action="@{'/food-type/create'}"
              th:object="${foodType}" method="post"
              onsubmit="document.getElementById('foodCategory.id').disabled = false;">

            <div class="input-group mb-3">
                <span class="input-group-text">Food Category:</span>
                <select class="form-select" id="foodCategory.id"
                        th:field="*{foodCategory.id}" required>
<!--                        <option value=""></option>-->
                </select>
                <div class="invalid-feedback">This field is required</div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Name:</span>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
                <div class="invalid-feedback">This field is required</div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Description:</span>
                <input type="text" class="form-control" id="description" th:field="*{description}" required>
                <div class="invalid-feedback">This field is required</div>
            </div>

            <div>
                <button class="col-3 btn btn-primary" type="submit">Save</button>
            </div>
        </form>

        <script>
            async function initialiseFoodCategorySelect() {
                const selectedFoodCategory = "[[${foodType.foodCategory.id}]]";
                const foodCategoriesList = await fetchSelectOptions(foodCategoriesUri);
                buildSelectOptions("foodCategory.id",foodCategoriesList, "id","name",false,selectedFoodCategory);
                if (selectedFoodCategory) {
                    document.getElementById("foodCategory.id").disabled = true;
                }
            }

            window.onload = function () {
                initialiseFoodCategorySelect();
            }
        </script>

    </div>


</div>

</body>
</html>