<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>System Food Category</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <p/>
    <h4>Food Categories</h4>
    <p/>
    <p>This is used to break the food into various categories such as Dairy, Protein, Grains, Fruits and Vegetables etc.
        but it is user configurable. Again, we expect minimal modifications once the dataset is created.</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="foodCategory : ${foodCategories}">
            <td th:text="${foodCategory.id}"></td>
            <td th:text="${foodCategory.name}"></td>
            <td th:text="${foodCategory.description}"></td>
            <td>
                <a th:href="@{'/food-category/view/' + ${foodCategory.id}}+'/system'" class="icon-link">
                    <i class="bi bi-eye"></i>
                </a>
            </td>
            <td>
                <a sec:authorize="hasRole('ROLE_USER')" th:onclick="'importSpecificFoodCategorySystemData(' + ${foodCategory.id} + ')'" class="icon-link">
                    <i class="bi bi-camera"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ROLE_USER')">
        <button id="import-system-data" type="button" class="full-width btn btn-warning">
            <i class="bi bi-camera"></i> Import Data to personal dataset</button>
    </a>

    <script>
        async function importSpecificFoodCategorySystemData(id) {
            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' }
            };
            const response = await fetch(`${foodCategoriesUri}/${id}/system`, requestOptions);
            if (response.ok) {
                showMessage("success", "Food Category and associated Food Types  successfully copied into personal dataset");
            } else {
                showMessage("error", "Failed to copy Food Category and associated Food Types  into personal dataset");
            }
        }

        async function importAllSystemData() {
            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' }
            };
            const response = await fetch(`${foodCategoriesUri}/system`, requestOptions);
            if (response.ok) {
                showMessage("success", "Food Categories and associated Food Types successfully copied into personal dataset");
            } else {
                showMessage("error", "Failed to copy Food Categories and associated Food Types into personal dataset");
            }
        }

        document.getElementById("import-system-data").addEventListener("click", importAllSystemData);
    </script>
</div>

</body>
</html>