<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Food Category</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div id="food-category-detail">
        <p/>
        <h4>Food Category</h4>
        <p/>
        <form action="#" th:action="@{'/food-category/update/' + ${foodCategory.id}}"
              th:object="${foodCategory}" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">ID:</span>
                <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Name:</span>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
                <div class="invalid-feedback">This field is required</div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Description:</span>
                <input type="text" class="form-control" id="description" th:field="*{description}" required>
                <div class="invalid-feedback">This field is required</div>
            </div>
            <div>
                <button class="col-3 btn btn-primary" type="submit">Save</button>
            </div>
        </form>

        <div id="food-types">
            <p/>
            <h4>Food Types</h4>
            <p/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="foodType : ${foodCategory.foodTypes}">
                    <td th:text="${foodType.id}">></td>
                    <td th:text="${foodType.name}"></td>
                    <td th:text="${foodType.description}"></td>
                    <td>
                        <a th:href="@{'/food-type/edit/' + ${foodType.id}}" class="icon-link">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/food-type/delete/' + ${foodType.id}}" class="icon-link">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{'/food-type/new?foodCategoryId=' + ${foodCategory.id}}">
                <button type="button" class="col-3 btn btn-primary">Add New</button>
            </a>
        </div>
    </div>


</div>

</body>
</html>