<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Meal - edit</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container">
        <p/>
        <h1>Meal</h1>
        <p/>

        <div id="mealDetail">
            <form th:action="@{'/meal/update/' + ${meal.id}}"
                  th:object="${meal}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">ID:</span>
                    <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Description:</span>
                    <input type="text" class="form-control" id="description" th:field="*{description}" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Date:</span>
                    <input type="date" class="form-control" id="date" th:field="*{date}" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Time:</span>
                    <input type="time" class="form-control" id="time" th:field="*{time}" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <button class="col-3 btn btn-primary" type="submit">Save</button>
            </form>
        </div>

        <p/>
        <h4>Meal Components</h4>
        <p/>

        <div>
            <button type="button" class="full-width btn btn-warning" id="button-show-mealComponentsFromDish" href="#">
                Populate Meal components from a dish
            </button>
        </div>
        <div th:if="${aggregationRequired}">
            <button type="button" class="full-width btn btn-warning" id="button-aggregate-mealComponents"
                    href="@{'/meal-component/aggregate/' + ${meal.id}}">
                Aggregate meal components by foodType and Preparation technique
            </button>
        </div>
        <br>

        <div id="mealComponentsFromDish" hidden>
            <form th:action="@{'/meal-component/add?mealId=' + ${meal.id}}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">Dish:</span>
                    <select class="form-select" id="dishId"
                            name="dishId">
                        <!--                        <option value=""></option>-->
                    </select>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Portion Size:</span>
                    <input type="number" class="form-control" id="portionSize" name="portionSize" required>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div  class="d-flex justify-content-between">
                    <button class="col-3 btn btn-primary" type="submit" id="submit-mealComponentsFromDish">Apply</button>
                    <button class="col-3 btn btn-secondary" type="button" id="cancel-mealComponentsFromDish">Cancel</button>
                </div>

            </form>
        </div>

        <div id="mealComponentsDetail">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Food Type</th>
                    <th>Preparation Technique</th>
                    <th>Volume</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mealComponent : ${meal.mealComponents}">
                    <td th:text="${mealComponent.id}">></td>
                    <td th:text="${mealComponent.foodType.name}"></td>
                    <td th:text="${mealComponent.preparationTechnique.code}"></td>
                    <td th:text="${mealComponent.volume}"></td>
                    <td>
                        <a th:href="@{'/meal-component/edit/' + ${mealComponent.id} + '?mealId=' + ${meal.id}}"
                           class="icon-link">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/meal-component/delete/' + ${mealComponent.id} + '?mealId=' + ${meal.id}}"
                           class="icon-link">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{'/meal-component/new?mealId=' + ${meal.id}}">
                <button type="button" class="col-3 btn btn-primary">Add New</button>
            </a>
        </div>
    </div>

    <script>
        window.onload = function () {
            initialiseDishSelect();
        }

        async function initialiseDishSelect() {
            let dishes = await fetchSelectOptions(dishesUri);
            buildSelectOptions("dishId",dishes, "id","name",true);
        }

        function showMealComponentsFromDish() {
            document.getElementById("mealComponentsDetail").setAttribute("hidden","hidden");

            document.getElementById("mealComponentsFromDish").removeAttribute("hidden");
        }

        function cancelMealComponentsFromDish() {
            document.getElementById("mealComponentsFromDish").setAttribute("hidden","hidden");

            document.getElementById("mealComponentsDetail").removeAttribute("hidden");
        }

        document.getElementById("button-show-mealComponentsFromDish").addEventListener("click",showMealComponentsFromDish);
        document.getElementById("cancel-mealComponentsFromDish").addEventListener("click",cancelMealComponentsFromDish);

    </script>

</div>

</body>
</html>