<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Preparation Technique</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div>
        <h1>Add new Preparation Technique</h1>
        <form action="#" th:action="@{'/preparation-technique/create'}"
              th:object="${preparationTechnique}" method="post">

            <div class="input-group mb-3">
                <span class="input-group-text">Code:</span>
                <input type="text" class="form-control"
                       id="code" th:field="*{code}"
                       required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Description:</span>
                <input type="text" class="form-control"
                       id="description" th:field="*{description}"
                       required>
            </div>
            <button type="submit" class="col-3 btn btn-primary">Save</button>
        </form>
    </div>


</div>

</body>
</html>