<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div id="authentication-type">
        <div id="authentication-type-basic"
             th:unless="${userPrinciple.oauth2Provider} != null">
            <div class="input-group mb-3">
                <span class="input-group-text">Name:</span>
                <input type="text" class="form-control" id="userPrinciple.username" name="userPrinciple.username"
                       th:value="*{userPrinciple.username}" disabled>
            </div>

            <div>
                <button type="button" class="col-3 btn btn-warning" id="button-show-password-div" href="#">Change
                    Password
                </button>
            </div>
            <br>

            <div id="div-change-password" hidden>
                <div class="input-group mb-3">
                    <span class="input-group-text">Password:</span>
                    <input type="password" class="password form-control" id="new-password" name="new-password">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Repeat Password:</span>
                    <input type="password" id="repeat-new-password" class="password form-control"
                           name="repeat-new-password">
                </div>
                <div>
                    <button type="button" class="col-3 btn btn-primary" id="button-submit-password">Submit Password
                    </button>
                </div>

            </div>
        </div>
        <div id="authentication-type-oauth2"
             th:if="${userPrinciple.oauth2Provider} != null">
            <p>OAuth2 provider: <span th:text="${userPrinciple.oauth2Provider}"></span></p>
        </div>
    </div>

    <div id="user-profile">
        <div id="div-register-active-user" sec:authorize="!hasRole('ROLE_USER')">
            <button type="button" id="button-register-active-user" class="btn btn-success">
                Click here to be able to create your own content
            </button>
            <br>
        </div>
        <form th:action="@{'/user/userMeta/'+${userPrinciple.userMeta.id}}"
              th:object="${userPrinciple.userMeta}" method="post">


            <div class="input-group mb-3">
                <span class="input-group-text">Name:</span>
                <input type="text" class="form-control" id="name" name="name"
                       th:value="*{name}" required>
                <div class="invalid-feedback">This field is required</div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Email:</span>
                <input type="email" class="form-control" id="email" name="email"
                       th:value="*{email}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Bio:</span>
                <input type="text" class="form-control" id="bio" name="bio"
                       th:value="*{bio}">
            </div>
            <div>
                <button id="button-submit" class="col-3 btn btn-primary" type="submit">Save</button>
            </div>

        </form>
    </div>


    <script>
        function showPasswordUpdate() {
            document.getElementById("user-profile").setAttribute("hidden","hidden");

            document.getElementById("div-change-password").removeAttribute("hidden");
            document.getElementById("button-submit-password").disabled = true;
        }

        function hidePasswordUpdate() {
            document.getElementById("user-profile").removeAttribute("hidden");

            document.getElementById("div-change-password").setAttribute("hidden","hidden");

            document.getElementById("new-password").value = "";
            document.getElementById("repeat-new-password").value = "";

            document.getElementById("button-submit-password").disabled = true;
        }


        function checkPasswordsMatch() {
            let newPassword = document.getElementById("new-password").value;
            let repeatNewPassword = document.getElementById("repeat-new-password").value;
            let buttonSubmit = document.getElementById("button-submit-password");
            if (newPassword.length >= 4 && newPassword === repeatNewPassword) {
                buttonSubmit.disabled = false;
            } else {
                buttonSubmit.disabled = true;
            }
        }

        async function submitPassword() {
            let response = await fetch("/api/v1/user/password", {
                method:"POST",
                body: document.getElementById("new-password").value
                });
            let responseText = await response.text();
            let updateMessage = document.createElement("p");

            showMessage("success",responseText);

            hidePasswordUpdate();
        }

        async function submitActiveUserRegistration() {
            let response = await fetch("/api/v1/user/register", {
                method:"POST"
                });
            let responseText = await response.text();
            showMessage("success",responseText);
            document.getElementById("div-register-active-user").setAttribute("hidden",true);
        }

        document.getElementById("button-register-active-user").addEventListener("click",submitActiveUserRegistration);

        document.getElementById("button-submit-password").addEventListener("click",submitPassword);

        document.getElementById("button-show-password-div").addEventListener("click",showPasswordUpdate);

        document.getElementById("div-change-password").addEventListener( "keyup",
            (event) => {
                if (event.target.classList.contains("password")) {
                   checkPasswordsMatch();
                }
            },
            true
        );

    </script>

</div>

</body>
</html>